<h1>Item</h1>
<%= form_for [@department, @item] do |item| %>
  <%= item.label :name %>
  <%= item.text_field :name %>
  <%= item.label :body %>
  <%= item.text_area :body %>
  <%= item.submit %>
  <% end %>